body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

#poll__answers {
  display: flex;
  justify-content: space-around;
}

.vote-results {
  display: none;
}
.vote-results_active {
  display: block;  
}

.answer-results {
  margin: 0;
}
.number-results {
  font-weight: bold;
}

